article.challenge-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;

  header {
    background-color: #90caf9;
    padding: 1.25rem;
  }

  .banner {
    background-color: #424242;
    color: #ffffffb3;
    padding: 3rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 1.25rem;
    }

    form {
      margin: 2rem 0 0;

      display: flex;
      flex-direction: row;
      align-items: center;

      & > * {
        margin: 0 0.5em;
      }
    }
  }

  select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: inherit;
    line-height: inherit;
    color: #fff;
    outline: none;
  }

  button {
    border: solid 1px #90caf9;
    color: #90caf9;
    padding: 0.5em 1em;
    background-color: transparent;
    border-radius: 6px;
    font-size: 1rem;

    &.primary,
    [submit='true'] {
      background-color: #90caf9;
      color: #424242;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
