html {
  font-size: 125%;
}

body {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-size: 1rem;
  display: flex;
  height: calc(100vh);
  padding: 0;
  margin: 0;
  background-color: #121212;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
